* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
} 
header img{
    margin: 10%;
    height: 10%;
    font-weight: 50;
}
header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  color: #555;
}

header a {
  color: #007acc;
  text-decoration: none;
  margin: 0 10px;
}

section {
  margin-bottom: 25px;
}

h2 {
  color: #007acc;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
}

ul {
  padding-left: 20px;
  list-style: none;
}

ul li {
  font-size: 16px;
  line-height: 1.6;
}

footer {
  text-align: center;
  margin-top: 40px;
}

button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005b99;
}

.dark-mode {
  background-color: #222;
  color: #eee;
}

.dark-mode h2 {
  color: #4dabf7;
}

.dark-mode button {
  background-color: #4dabf7;
}

.dark-mode button:hover {
  background-color: #339af0;
}
